.search {
  margin-top: 8rem;
  background-color: white;
  width: 40rem;
  height: 8rem;
  border-radius: 5px;
  box-shadow: 3px 3px 5px 0px rgba(102, 102, 102, 0.75);
  -webkit-box-shadow: 3px 3px 5px 0px rgba(102, 102, 102, 0.75);
  -moz-box-shadow: 3px 3px 5px 0px rgba(102, 102, 102, 0.75);
}

.search-request {
  color: #476a2e;
  font-size: 1rem;
  font-weight: bold;
  margin-top: 2rem;
  // display: block;
}

.home-input1 {
  width: 35rem;
  height: 2rem;
  border: 2px solid green;
  border-radius: 5px;
  margin: 2rem;
}
.home-input1:focus {
  border-color: green;
}
