.search {
  margin-top: 8rem;
  background-color: white;
  width: 40rem;
  height: 8rem;
  border-radius: 5px;
  box-shadow: 3px 3px 5px 0px rgba(102, 102, 102, 0.75);
  -webkit-box-shadow: 3px 3px 5px 0px rgba(102, 102, 102, 0.75);
  -moz-box-shadow: 3px 3px 5px 0px rgba(102, 102, 102, 0.75);
}

.search-request {
  color: #476a2e;
  font-size: 1rem;
  font-weight: bold;
}

.request-box {
  margin: 2rem;
}
.home-input {
  width: 35rem;
  height: 2rem;
  border: 2px solid blue;
  border-radius: 5px;
}
