.cocktail-image {
  width: 25rem;
  height: 25rem;
  border-radius: 8px;
}
.details {
  background-color: greenyellow;
  width: 5rem;
  height: 2rem;
  border-radius: 5px;
  border: none;
  font-size: 1.1rem;
}
