.nav {
  background-color: azure;
  box-shadow: 2px 6px 2px 0px rgba(163, 163, 163, 0.75);
  -webkit-box-shadow: 2px 6px 2px 0px rgba(163, 163, 163, 0.75);
  -moz-box-shadow: 2px 6px 2px 0px rgba(163, 163, 163, 0.75);
  display: flex;
  justify-content: center;
  align-items: center;
}

.center-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 40rem;
}

.navbar-links {
  display: flex;
  justify-content: center;
  column-gap: 3rem;
  list-style: none;
  text-decoration: none;
  font-size: 1.5rem;
  text-decoration: none;
}

.logo {
  width: 3rem;
  height: 4rem;
}
.about-link,
.home-link {
  text-decoration: none;
  color: green;
}

.home-link:hover {
  text-decoration: underline;
}

.about-link:hover {
  text-decoration: underline;
}
